Hello World!
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <a href="{{ path('fos_user_security_logout') }}">
        Déconnexion
    </a>
    {{ render(controller('DemoTestBundle:Product:index')) }}
{% endif %}

<a href="{{ path('weather_check')}}">
    Check weather
</a>
<br>
{% if data is defined %}
    Paris : 
    <br>

    The description of the weather is : {{data['weather'][0]['description']}}
    <br>
    The temperature is : {{data['main']['temp']}}
    <br>
    max and min temperature : {{data['main']['temp_min']}} > {{data['main']['temp_max']}}
    <br>
    the visibility is :{{data['visibility']}}
    <br>
{% endif %}
<br>
<!-- <a href="{{ path('ville_new') }}">Check the weather of your own town</a> -->
<br>
Check the weather of your own town :
<br>

{{ include('ville/new.html.twig') }}